Repository RedHatInsights/insights-core, pull requests merged in 2018-06, with the labels that each got.

#1193 fix the wrong command of systemctl_show_qdrouterd
  insights/parsers/systemctl_show.py
  insights/parsers/tests/test_systemctl_show.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1189 Config overhaul
  insights/client/__init__.py
  insights/client/auto_config.py
  insights/client/client.py
  insights/client/collection_rules.py
  insights/client/config.py
  insights/client/connection.py
  insights/client/containers.py
  insights/client/data_collector.py
  insights/client/insights_spec.py
  insights/client/phase/v1.py
  insights/client/schedule.py
  insights/client/support.py
  insights/tests/client/test_client.py
  insights/tests/client/test_schedule.py
Labels: client

#1213 escape group name when querying (BZ1549213)
  insights/client/connection.py
Labels: client

#1208 Dotfiles fix mk2
  insights/client/client.py
  insights/client/connection.py
  insights/client/constants.py
  insights/client/phase/v1.py
  insights/client/support.py
  insights/client/utilities.py
Labels: client

#1211 Add parser for grubby_--default-index
  docs/shared_parsers_catalog/grubby.rst
  insights/parsers/grubby.py
  insights/parsers/tests/test_grubby.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1184 Fix and remove unnecessary secondary specs from DefaultSpecs
  insights/specs/default.py
Labels: SPEC Change

#1209 new parser for systemctl_show_smart_proxy_dynflow_core
  insights/parsers/systemctl_show.py
  insights/parsers/tests/test_systemctl_show.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1216 new parser for qpidd_conf
  docs/shared_parsers_catalog/qpidd_conf.rst
  insights/parsers/qpidd_conf.py
  insights/parsers/tests/test_qpidd_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1207 XML parser for /etc/libvirt/qemu/*.xml files
  docs/shared_parsers_catalog/qemu_xml.rst
  insights/parsers/qemu_xml.py
  insights/parsers/tests/test_qemu_xml.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1210 parser for /etc/smart_proxy_dynflow_core/settings.yml
  docs/shared_parsers_catalog/smartpdc_settings.rst
  insights/parsers/smartpdc_settings.py
  insights/parsers/tests/test_smartpdc_settings.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1234 new parser for rhv_log_collector_analyzer
  docs/shared_parsers_catalog/rhv_log_collector_analyzer.rst
  insights/parsers/rhv_log_collector_analyzer.py
  insights/parsers/tests/test_rhv_log_collector_analyzer.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1226 Fix duplicate warning with `remove_file`
  insights/client/client.py
  insights/client/collection_rules.py
Labels: bug, client

#1232 few tweaks for py3
  insights/client/collection_rules.py
  insights/client/data_collector.py
  insights/client/insights_spec.py
  insights/client/utilities.py
Labels: client
