Repository RedHatInsights/insights-core, pull requests merged in 2018-11, with the labels that each got.

#1481 Obey -m flag for rules. Use default formatter when no CONTENT available.
  insights/__init__.py
  insights/core/plugins.py
  insights/formats/text.py
Labels: 3.x, bug

#1519 Add new parser for ps -eo pid,ppid,comm
  insights/parsers/ps.py
  insights/parsers/tests/test_ps.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1521 new parser for QpidStatG
  insights/parsers/qpid_stat.py
  insights/parsers/tests/test_qpid_stat.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1512 New parser for /etc/ceph/ceph.conf
  insights/parsers/ceph_conf.py
  insights/parsers/tests/test_ceph_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1545 Added missing rst entry for parser CephConf
  docs/shared_parsers_catalog/ceph_conf.rst
Labels: documentation

#1552 Enable `filterable` in ovirt_engine_log specs
  insights/specs/__init__.py
Labels: enhancement

#1543 Enhance spec of lvs_noheadings with seg_monitor option
  insights/parsers/lvm.py
  insights/parsers/tests/test_lvs.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1513 fix section name, fix individual parsing
  insights/client/config.py
  insights/tests/client/test_config.py
Labels: client

#1500 improve parsing for number config vars
  insights/client/config.py
  insights/tests/client/test_config.py
Labels: client

#1538 Support file size in directory listing
  insights/parsers/ls_var_lib_nova_instances.py
  insights/parsers/tests/test_ls_var_lib_nova_instances.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change, enhancement

#1566 Add new parser for parsing output of 'auditctl -s'
  docs/shared_parsers_catalog/auditctl_status.rst
  insights/parsers/auditctl_status.py
  insights/parsers/tests/test_auditctl_status.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change

#1565 Removed exception handler from Bond class
  insights/parsers/bond.py
  insights/parsers/tests/test_bond.py
Labels: enhancement

#1516 cache branch info and do not fetch it every time
  insights/client/connection.py
  insights/client/constants.py
  insights/tests/client/connection/test_branch_info.py
Labels: client

#1558 Add parser proc_stat
  docs/shared_parsers_catalog/proc_stat.rst
  insights/parsers/proc_stat.py
  insights/parsers/tests/test_proc_stat.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1557 Add parser avc_hash_stats
  docs/shared_parsers_catalog/avc_hash_stats.rst
  insights/parsers/avc_hash_stats.py
  insights/parsers/tests/test_avc_hash_stats.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1539 New parser for /etc/libvirt/virtlogd.conf
  docs/shared_parsers_catalog/virtlogd_conf.rst
  insights/parsers/tests/test_virtlogd_conf.py
  insights/parsers/virtlogd_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1571 Update connection.py
  insights/client/connection.py
Labels: client
