Repository RedHatInsights/insights-core, pull requests merged in 2018-10, with the labels that each got.

#1464 RHEL 6 timeout has no -k option
  insights/client/insights_spec.py
Labels: client

#1471 cast cert components from bytes to unicode
  insights/client/connection.py
Labels: client

#1475 Added parser for file l3_agent.ini
  docs/shared_parsers_catalog/neutron_l3_agent_conf.rst
  insights/parsers/neutron_l3_agent_conf.py
  insights/parsers/tests/test_neutron_l3_agent_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1484 Add epoch to installed rpms and use json format
  insights/parsers/installed_rpms.py
  insights/parsers/tests/test_installed_rpms.py
  insights/specs/default.py
Labels: SPEC Change

#1488 added parser for "/sys/class/scsi_host/host[0-9]*/fwrev"
  docs/shared_parsers_catalog/scsi_fwver.rst
  insights/parsers/scsi_fwver.py
  insights/parsers/tests/test_scsi_fwver.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1483 case insensitive regex for patterns section of remove.conf
  insights/client/insights_spec.py
Labels: client

#1487 Split MD5CheckSum parser into prelink version and normal version
  insights/parsers/md5check.py
  insights/parsers/tests/test_md5check.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1490 Added parser for command 'ls -laRZ /var/lib/nova/instances'
  docs/shared_parsers_catalog/ls_var_lib_nova_instances.rst
  insights/parsers/ls_var_lib_nova_instances.py
  insights/parsers/tests/test_ls_var_lib_nova_instances.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1495 Change unordered_compare to deep_compare
  insights/tests/__init__.py
  insights/tests/test_test.py
  insights/tests/test_util.py
Labels: 2and3

#1497 Deprecate HttpdConf and HttpdConfAll
  insights/combiners/httpd_conf.py
  insights/parsers/httpd_conf.py
Labels: 2and3
