Repository RedHatInsights/insights-core, pull requests merged in 2018-07, with the labels that each got.

#1225 Add parser openshift_hosts
  docs/shared_parsers_catalog/openshift_hosts.rst
  insights/parsers/openshift_hosts.py
  insights/parsers/tests/test_openshift_hosts.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1252 Added Parser code for lspci -k
  insights/parsers/lspci.py
  insights/parsers/tests/test_lspci.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: FILTER Change, SPEC Change

#1267 Add case insensitivity options to configtree.
  docs/notebooks/Config Tree Tutorial.ipynb
  insights/combiners/httpd_conf.py
  insights/configtree/__init__.py
  insights/configtree/tests/test_dsl.py
Labels: 3.x, enhancement

#1264 Parser for OSP Neutron metadata-agent.log
  docs/shared_parsers_catalog/neutron_metadata_agent_log.rst
  insights/parsers/neutron_metadata_agent_log.py
  insights/parsers/tests/test_neutron_metadata_agent_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1259 parser for ls_var_spool_clientmqueue
  docs/shared_parsers_catalog/ls_var_spool_clientmq.rst
  insights/parsers/ls_var_spool_clientmq.py
  insights/parsers/tests/test_ls_var_spool_clientmq.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1260 parser for ls_var_spool_postfix_maildrop
  docs/shared_parsers_catalog/ls_var_spool_postfix_maildrop.rst
  insights/parsers/ls_var_spool_postfix_maildrop.py
  insights/parsers/tests/test_ls_var_spool_postfix_maildrop.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1265 new parser for ls_var_lib_mongodb
  docs/shared_parsers_catalog/ls_var_lib_mongodb.rst
  insights/parsers/ls_var_lib_mongodb.py
  insights/parsers/tests/test_ls_var_lib_mongodb.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1235 missed some config passing
  insights/client/__init__.py
Labels: client

#1276 Added specs for additional CPU control indicators
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1250 Add parser for command 'dmsetup info -C'
  docs/shared_parsers_catalog/dmsetup.rst
  insights/parsers/dmsetup.py
  insights/parsers/tests/test_dmsetup_info.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change

#1246 Parser for command: `virsh --readonly list --all`
  docs/shared_parsers_catalog/virsh_list_all.rst
  insights/parsers/tests/test_virsh_list_all.py
  insights/parsers/virsh_list_all.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: FILTER Change, SPEC Change

#1290 Add parser init_process_cgroup
  docs/shared_parsers_catalog/init_process_cgroup.rst
  insights/parsers/init_process_cgroup.py
  insights/parsers/tests/test_init_process_cgroup.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1286 Added parser for specs "ss -tupna"
  insights/parsers/netstat.py
  insights/parsers/tests/test_netstat.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1289 Don't barf on unknown options
  insights/client/__init__.py
  insights/client/config.py
Labels: client

#1295 Generalize make_response to be class based and extendable.
  insights/core/plugins.py
  insights/tests/__init__.py
  insights/tests/core/test_plugins.py
Labels: 3.x, enhancement

#1251 Do not retry if server returns 412 on upload
  Jenkinsfile
  insights/client/client.py
  insights/tests/client/test_client.py
  setup.py
Labels: client

#1269 New parser for 'subscription-manager release --show'
  docs/shared_parsers_catalog/subscription_manager_release.rst
  insights/parsers/subscription_manager_release.py
  insights/parsers/tests/test_subscription_manager_release.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
