Repository RedHatInsights/insights-core, pull requests merged in 2018-12, with the labels that each got.

#1578 Enhance the deprecated description in documentation.
  insights/combiners/httpd_V.py
  insights/combiners/httpd_conf.py
  insights/parsers/engine_log.py
  insights/parsers/ipcs_sem.py
  insights/parsers/nfs_exports.py
  insights/parsers/nginx_conf.py
  insights/parsers/systemd/config.py
Labels: documentation

#1579 Parser for file /etc/rabbitmq/rabbitmq-env.conf
  docs/shared_parsers_catalog/rabbitmq.rst
  insights/parsers/rabbitmq.py
  insights/parsers/tests/test_rabbitmq_env.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1581 Add --diagnosis option
  insights/client/__init__.py
  insights/client/config.py
  insights/client/connection.py
  insights/client/phase/v1.py
  insights/tests/client/connection/test_diagnosis.py
  insights/tests/client/phase/test_collect_and_upload.py
  insights/tests/client/phase/test_post_update.py
Labels: client

#1574 python 3 compatability fix for proxy response check
  insights/client/connection.py
Labels: client

#1592 write bytes to stdout in python3
  insights/client/phase/v1.py
Labels: client

#1573 Parser to parse output of 'id -u nova' & 'id -u nova_migration'
  docs/shared_parsers_catalog/nova_user_ids.rst
  insights/parsers/nova_user_ids.py
  insights/parsers/tests/test_nova_user_ids.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1598 Core 3 collection with whitelisted components and serde types. No client integration.
  examples/collection/manifest.yaml
  insights/__init__.py
  insights/collect.py
  insights/combiners/hostname.py
  insights/combiners/redhat_release.py
  insights/core/dr.py
  insights/core/hydration.py
  insights/core/serde.py
  insights/core/spec_factory.py
  insights/specs/default.py
  insights/tests/test_query.py
  insights/tests/test_serde.py
  insights/tests/test_spec_serialization.py
  insights/util/subproc.py
  setup.py
Labels: 3.x, enhancement

#1575 Parser for /etc/corosync/corosync.conf
  insights/parsers/corosync.py
  insights/parsers/tests/test_corosync.py
  insights/parsers/tests/test_sysconfig_corosync.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1604 [IfCFG] Detect blank line in interface file
  insights/parsers/ifcfg.py
  insights/parsers/tests/test_ifcfg.py
Labels: enhancement
