Repository RedHatInsights/insights-core, pull requests merged in 2018-08, with the labels that each got.

#1293 New parsers for SAP saphostexec commands
  docs/shared_parsers_catalog/saphostexec.rst
  insights/parsers/saphostexec.py
  insights/parsers/tests/test_saphostexec.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1313 Added filter '[' to enable filtering of metadata_agent.ini
  insights/parsers/neutron_metadata_agent_conf.py
Labels: FILTER Change

#1298 Fix the simple_file in insights-archive for saphostctl
  insights/parsers/saphostctrl_instances.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1297 New parser for SAP host_profile
  docs/shared_parsers_catalog/sap_host_profile.rst
  insights/parsers/sap_host_profile.py
  insights/parsers/tests/test_sap_host_profile.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1279 Fix unregister on timeout
  insights/client/__init__.py
  insights/client/client.py
  insights/client/config.py
  insights/client/connection.py
  insights/client/constants.py
  insights/client/phase/v1.py
  insights/tests/client/test_client.py
  insights/tests/client/test_utilities.py
Labels: client

#1327 check directory before writing a file (BZ1610497)
  insights/client/utilities.py
Labels: client

#1328 remove dupe method, fix func call, fix timeout parse
  insights/client/__init__.py
  insights/client/config.py
  insights/client/phase/v1.py
  insights/tests/client/test_client.py
Labels: client

#1339 Py3 fixes
  insights/client/client.py
  insights/client/connection.py
Labels: client

#1318 Kept sing specs for both parser "ss -tulpn" and "ss -tupna"
  insights/parsers/netstat.py
  insights/parsers/tests/test_netstat.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1334 Add parser ls_ocp_cni_openshift_sdn
  docs/shared_parsers_catalog/ls_ocp_cni_openshift_sdn.rst
  insights/parsers/ls_ocp_cni_openshift_sdn.py
  insights/parsers/tests/test_ls_ocp_nci_openshift_sdn.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1341 Add parser cpuset cpus
  docs/shared_parsers_catalog/cpuset_cpus.rst
  insights/parsers/cpuset_cpus.py
  insights/parsers/tests/test_cpuset_cpus.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1316 parser for /etc/sysconfig/foreman-tasks
  docs/shared_parsers_catalog/foreman_tasks_config.rst
  insights/parsers/foreman_tasks_config.py
  insights/parsers/tests/test_foreman_tasks_config.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1348 Remove check for commit on build_client_egg
  build_client_egg.sh
Labels: client

#1362 fix logic bug, fix --analyze-container behavior
  insights/client/client.py
  insights/client/config.py
Labels: client

#1367 Be more careful about deleting parent directory of archive after upload
  insights/client/__init__.py
  insights/client/client.py
  insights/client/phase/v1.py
Labels: client

#1283 Modify the spec "lspci" to simple command "lspci -k"
  insights/parsers/lspci.py
  insights/parsers/tests/test_lspci.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1375 add option to set display name independent of register
  insights/client/__init__.py
  insights/client/connection.py
  insights/client/phase/v1.py
  insights/tests/client/test_displayname.py
Labels: client

#1230 [wip] Refactor connection_rules.InsightsUploadConf.get_conf
  insights/client/client.py
  insights/client/collection_rules.py
  insights/tests/client/collection_rules/__init__.py
  insights/tests/client/collection_rules/helpers.py
  insights/tests/client/collection_rules/test_get_conf_file.py
  insights/tests/client/collection_rules/test_get_conf_stdin.py
  insights/tests/client/collection_rules/test_get_conf_update.py
  insights/tests/client/collection_rules/test_get_rm_conf.py
  insights/tests/client/test_collect.py
  insights/tests/client/test_update_rules.py
Labels: client

#1369 Split setuptools extras bundle
  Jenkinsfile
  setup.py
Labels: client

#1336 New parser for files under /var/log/ovirt-engine/
  docs/shared_parsers_catalog/ovirt_engine_log.rst
  insights/parsers/engine_log.py
  insights/parsers/ovirt_engine_log.py
  insights/parsers/tests/test_ovirt_engine_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1392 New parser for file /etc/sysconfig/libvirt-guests
  insights/parsers/sysconfig.py
  insights/parsers/tests/test_sysconfig_libvirt_guests.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1368 cast duration to str
  insights/client/connection.py
Labels: client

#1384 use blacklist for pre-commands
  insights/client/constants.py
  insights/client/data_collector.py
  insights/client/insights_spec.py
Labels: client

#1396 remove all writing to ansible facts dir
  insights/client/client.py
  insights/client/constants.py
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#1379 Expanded openshift_get parser: added get_configmap class
  insights/parsers/openshift_get.py
  insights/parsers/tests/test_openshift_get.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
