Repository RedHatInsights/insights-core, pull requests merged in 2018-09, with the labels that each got.

#1411 [ovirt_engine_log] Use datetime object for timestamp
  insights/parsers/ovirt_engine_log.py
  insights/parsers/tests/test_ovirt_engine_log.py
Labels: enhancement

#1420 Fix Satellite 5 auto configuration
  insights/client/auto_config.py
  insights/tests/client/auto_config/test_try_satellite5_configuration.py
Labels: client

#1416 Added parser for file /var/log/ceph/ceph.log
  docs/shared_parsers_catalog/ceph_log.rst
  insights/parsers/ceph_log.py
  insights/parsers/tests/test_ceph_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1425 open tempfiles in text mode, encode command only once
  insights/client/insights_spec.py
Labels: client

#1418 Limit time of requests issued before failure
  insights/client/__init__.py
  insights/client/connection.py
  insights/tests/client/connection/test_branch_info.py
  insights/tests/client/connection/test_init_session.py
  insights/tests/client/init/test_fetch.py
  insights/tests/client/test_net_comm.py
  insights/tests/helpers.py
Labels: client

#1433 Fix the UnicodeDecodeError in call() of util/subproc.py
  insights/util/subproc.py
Labels: bug

#1423 Restore exit handler
  insights/client/client.py
  insights/client/config.py
  insights/client/constants.py
  insights/client/insights_spec.py
  insights/tests/client/test_client.py
Labels: client

#1429 Add parser for multipath_conf_initramfs
  insights/parsers/multipath_conf.py
  insights/parsers/tests/test_multipath_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1440 New parser SysconfigPrelink
  insights/parsers/sysconfig.py
  insights/parsers/tests/test_sysconfig_prelink.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1449 Fix woopsie spec to exit on 1st found matching file
  insights/specs/default.py
Labels: SPEC Change

#1439 revert mode=wt stuff... won't work for our purposes
  insights/client/insights_spec.py
  insights/contrib/soscleaner.py
Labels: client

#1451 Run pytest in virtualenv on RHEL6
  Jenkinsfile
Labels: client

#1447 Fix remove file usage in collection tests
  insights/tests/client/collection_rules/test_get_rm_conf.py
  insights/tests/client/test_collect.py
Labels: client
