Repository RedHatInsights/insights-core, pull requests merged in 2019-08, with the labels that each got.

#2072 Add freeipa healthcheck log parser (#2071)
  docs/shared_parsers_catalog/freeipa_healthcheck_log.rst
  insights/parsers/freeipa_healthcheck_log.py
  insights/parsers/tests/test_freeipa_healthcheck_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#2132 Parser ovs flow dumps
  docs/shared_parsers_catalog/ovs_ofctl_dump_flows.rst
  insights/parsers/ovs_ofctl_dump_flows.py
  insights/parsers/tests/test_ovs_ofctl_dump_flows.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2136 Add new parser for ls_run_systemd_generator
  docs/shared_parsers_catalog/ls_run_systemd_generator.rst
  insights/parsers/ls_run_systemd_generator.py
  insights/parsers/tests/test_ls_run_systemd_generator.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2131 Add parser: pci_rport_target_disk_paths
  docs/shared_parsers_catalog/pci_rport_target_dist_paths.rst
  insights/parsers/pci_rport_target_disk_paths.py
  insights/parsers/tests/test_pci_rport_target_disk_paths.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2140 Use GrubConf combiner in SELinux
  insights/combiners/selinux.py
  insights/combiners/tests/test_selinux.py
Labels: RHEL8

#2135 Add parser to parse the output of the command lscpu
  docs/shared_parsers_catalog/lscpu.rst
  insights/parsers/lscpu.py
  insights/parsers/tests/test_lscpu.py
Labels: SPEC Change

#2161 add missing parameter
  insights/client/auto_config.py
  insights/tests/client/auto_config/test_try_satellite5_configuration.py
Labels: client

#2166 Add parser rndc_status
  docs/shared_parsers_catalog/rndc_status.rst
  insights/parsers/rndc_status.py
  insights/parsers/tests/test_rndc_status.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2167 Add parser for pcs_quorum_status
  docs/shared_parsers_catalog/pcs_quorum_status.rst
  insights/parsers/pcs_quorum_status.py
  insights/parsers/tests/test_pcs_quorum_status.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change
