Repository RedHatInsights/insights-core, pull requests merged in 2019-12, with the labels that each got.

#2357 Modified to maintain backward compatibility
  insights/parsers/ip.py
  insights/specs/insights_archive.py
Labels: bug

#2317 Check for oscap RPMs before trying to run a scan
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2325 insights-operator and must-gather archive recognition. top level config component for both.
  docs/api.rst
  docs/index.rst
  docs/ocp.rst
  insights/core/context.py
  insights/ocp.py
  insights/ocpshell.py
Labels: 3.x

#2331 more generic exception catching for INI remove.conf parsing
  insights/client/collection_rules.py
Labels: client

#2324 check rpm -q exit code. fail if rpm -q fails
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#2342 Connect to rhel-test if staging RHSM is used
  insights/client/auto_config.py
Labels: client

#2376 bypass adding /platform if cloud.redhat.com is part of the URL
  insights/client/auto_config.py
Labels: client

#2377 Remove unused ulimit spec
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2387 Added support for geneve tunneling
  insights/parsers/ip.py
  insights/parsers/tests/test_ip.py
Labels: enhancement
