Repository RedHatInsights/insights-core, pull requests merged in 2019-04, with the labels that each got.

#1784 Changes spec for netstat parser in sos_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change

#1782 Update spec for krb5
  insights/specs/default.py
Labels: SPEC Change

#1799 Enhanced parser for local routing table
  insights/parsers/ip.py
  insights/parsers/tests/test_ip.py
Labels: enhancement

#1801 Add error log and load modules conf for httpd24-httpd and jbcs-httpd2…
  insights/combiners/tests/test_httpd_conf_tree.py
  insights/parsers/httpd_log.py
  insights/parsers/tests/test_httpd_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1822 New parser for checking io_timeout of nvme_core
  docs/shared_parsers_catalog/nvme_core_io_timeout.rst
  insights/parsers/nvme_core_io_timeout.py
  insights/parsers/tests/test_nvme_core_io_timeout.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1797 Update specs for nginx_conf
  insights/specs/default.py
Labels: SPEC Change

#1817 New parser aws_instance_type
  docs/shared_parsers_catalog/aws_instance_type.rst
  insights/parsers/aws_instance_type.py
  insights/parsers/tests/test_aws_instance_type.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1831 Ensure rpms is not None before getting attribute
  insights/combiners/cloud_provider.py
  insights/combiners/tests/test_cloud_provider.py
Labels: enhancement

#1810 only call branch_info when connecting through sat
  insights/client/auto_config.py
  insights/client/client.py
  insights/client/connection.py
  insights/tests/client/auto_config/test_branch_info_call.py
  insights/tests/client/connection/test_branch_info.py
Labels: client

#1828 Parser for listing /var/opt/mssql
  docs/shared_parsers_catalog/ls_var_opt_mssql.rst
  insights/parsers/ls_var_opt_mssql.py
  insights/parsers/tests/test_ls_var_opt_mssql.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1830 Add load modules conf for httpd
  insights/combiners/tests/test_httpd_conf_tree.py
  insights/specs/default.py
Labels: SPEC Change

#1840 Parser for /var/opt/mssql/mssql.conf
  docs/shared_parsers_catalog/mssql_conf.rst
  insights/parsers/mssql_conf.py
  insights/parsers/tests/test_mssql_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1834 Update pacemaker log spec for rhel8
  insights/specs/default.py
Labels: SPEC Change

#1837 Parser for cinder-api.log
  insights/parsers/cinder_log.py
  insights/parsers/tests/test_cinder_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1850 Use command 'subscription-manager facts --list' to list all facts
  insights/parsers/subscription_manager_list.py
  insights/parsers/tests/test_subscription_manager_list.py
  insights/parsers/virt_uuid_facts.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: FILTER Change, SPEC Change, enhancement

#1780 Support platform registration, migrate to cloud.redhat.com, diverge legacy and platform
  insights/client/__init__.py
  insights/client/auto_config.py
  insights/client/client.py
  insights/client/collection_rules.py
  insights/client/config.py
  insights/client/connection.py
  insights/client/constants.py
  insights/client/phase/v1.py
  insights/client/support.py
  insights/tests/client/auto_config/test_autoconfig_urls.py
  insights/tests/client/connection/test_LEGACY_reg_check.py
  insights/tests/client/connection/test_diagnosis.py
  insights/tests/client/connection/test_init_session.py
  insights/tests/client/connection/test_reg_check.py
  insights/tests/client/connection/test_url_guess.py
  insights/tests/client/phase/test_LEGACY_post_update.py
  insights/tests/client/phase/test_post_update.py
  insights/tests/client/support/test_collect_support_info.py
  insights/tests/client/test_client.py
  insights/tests/client/test_platform.py
Labels: client

#1842 New parser and spec for bind crypto policy in RHEL8.
  insights/parsers/crypto_policies.py
  insights/parsers/tests/test_crypto_policies_bind.py
  insights/parsers/tests/test_crypto_policies_doc_examples.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1867 Added a doc string for RHEL-6/7
  insights/parsers/software_collections_list.py
Labels: documentation, enhancement

#1790 platform fixes for test-connection (WIP)
  insights/client/connection.py
Labels: client

#1876 Increase http timeout
  insights/client/config.py
Labels: client
