Repository RedHatInsights/insights-core, pull requests merged in 2019-05, with the labels that each got.

#1873 Allow ls_parser to handle rhel8 selinux lines
  insights/core/ls_parser.py
  insights/tests/test_ls_parser.py
Labels: enhancement

#1789 Add another possible file for nova configuration spec
  insights/specs/default.py
Labels: SPEC Change

#1875 diagnosis implies legacy=False. to-json+quiet = diagnosis
  insights/client/config.py
  insights/tests/client/test_config.py
Labels: client

#1872 Work around to not archive command outputs from commands not found.
  insights/client/archive.py
  insights/tests/client/test_client.py
  insights/tests/client/test_skip_commands_files.py
Labels: client

#1881 Resolving TypeError from the support option when legacy_upload is false
  insights/client/support.py
Labels: client

#1882 print hostname/displayname instead of ID on upload
  insights/client/client.py
Labels: client

#1883 container opts are now verboten
  insights/client/config.py
Labels: client

#1871 Add parser proc_environ
  docs/shared_parsers_catalog/proc_environ.rst
  insights/parsers/proc_environ.py
  insights/parsers/tests/test_proc_environ.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: WIP

#1908 Dmesg now can return logs with specified prefix
  insights/parsers/dmesg.py
  insights/parsers/tests/test_dmesg.py
Labels: bug, enhancement

#1885 Parser to parse content of /etc/swift/swift.conf
  insights/parsers/swift_conf.py
  insights/parsers/tests/test_swift_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1887 Correct the specs for heat api log
  insights/parsers/heat_log.py
  insights/specs/default.py
Labels: SPEC Change

#1901 Recognize directories of exploded archives as clusters.
  insights/core/cluster.py
  insights/core/hydration.py
Labels: bug

#1912 Update spec for dirsrv log
  insights/specs/default.py
Labels: SPEC Change

#1922 [New parser] Mistral Executor Log file Parser
  docs/shared_parsers_catalog/mistral_log.rst
  insights/parsers/mistral_log.py
  insights/parsers/tests/test_mistral_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1869 Enhanced parser to fix the bug in krb5 Parser
  insights/parsers/krb5.py
  insights/parsers/tests/test_krb5.py
Labels: bug

#1923 Added new parser for `/etc/sysconfig/network`
  insights/parsers/sysconfig.py
  insights/parsers/tests/test_sysconfig_doc_examples.py
  insights/parsers/tests/test_sysconfig_network.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1920 Change parser class in insights.core.plugins to allow multiple args
  docs/api.rst
  docs/components_index.rst
  docs/index.rst
  docs/shared_components_catalog/rhel_version.rst
  examples/rules/skip_component.py
  insights/components/__init__.py
  insights/components/rhel_version.py
  insights/components/tests/__init__.py
  insights/components/tests/test_rhel_version.py
  insights/core/plugins.py
  setup.cfg
Labels: enhancement

#1918 Syslog can return relevant logs by specifying the process name
  insights/core/__init__.py
  insights/tests/test_syslog.py
Labels: enhancement

#1926 undo displayname shenanigans calling both APIs
  insights/client/connection.py
Labels: client

#1916 Add new Ps parser and fix errors in base class
  insights/parsers/ps.py
  insights/parsers/tests/test_ps.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change

#1815 Adding command to get current PAGE_SIZE
  docs/shared_parsers_catalog/getconf_pagesize.rst
  insights/parsers/getconf_pagesize.py
  insights/parsers/tests/test_getconf_pagesize.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1944 [New Parser/FCoE] - Add new parser for fcoe userspace comand fcoeadm
  docs/shared_parsers_catalog/fcoeadm_i.rst
  insights/parsers/fcoeadm_i.py
  insights/parsers/tests/test_fcoeadm_i.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1951 Add combiner for ceph version
  docs/shared_combiners_catalog/ceph_version.rst
  insights/combiners/ceph_version.py
  insights/combiners/tests/test_ceph_version.py
  insights/parsers/ceph_version.py
Labels: combiner

#1954 Skip no python modules in lower version of client
  insights/core/__init__.py
  insights/parsers/tests/test_aws_instance_type.py
Labels: bug, parser

#1934 Remove the subscription_manager_list_installed from insights_archive.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1935 Remove spec subscription_manager_facts_list from insights_archive.py
  insights/parsers/subscription_manager_list.py
  insights/parsers/tests/test_subscription_manager_list.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1936 Remove subscription_manager_repos_list_enabled from insights_archive.py
  insights/parsers/subscription_manager_list.py
  insights/parsers/tests/test_subscription_manager_list.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1937 Remove subscription_manager_list_consumed from insights_archive.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1962 Enhance specs sos_archive_5
  docs/shared_combiners_catalog/nmcli_dev_show.rst
  insights/combiners/nmcli_dev_show.py
  insights/combiners/tests/test_nmcli_dev_show.py
  insights/parsers/nmcli.py
  insights/parsers/tests/test_nmcli.py
  insights/specs/__init__.py
  insights/specs/sos_archive.py
Labels: combiner, parser
