Repository RedHatInsights/insights-core, pull requests merged in 2019-10, with the labels that each got.

#2240 LogFileOutput token_scan returns a bool, reverse is meaningless
  insights/core/__init__.py
Labels: documentation

#2241 use package_info instead of client method, check systemd env
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#2235 Created error catch when bzip2 is not installed
  insights/client/archive.py
Labels: client

#2262 Execution contexts register themselves and decide if they handle an archive.
  insights/core/context.py
  insights/core/hydration.py
  insights/tests/test_context.py
Labels: 3.x, enhancement

#2246 Add parser for /var/log/cloud-init.log
  docs/shared_parsers_catalog/cloud_init_log.rst
  insights/parsers/cloud_init_log.py
  insights/parsers/tests/test_cloud_init_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change

#2254 tiny update for podman_inspect and podman_list
  insights/parsers/podman_inspect.py
  insights/parsers/podman_list.py
  insights/parsers/tests/test_podman_inspect.py
Labels: documentation

#2234 Created catch for --compressor=<anything> error
  insights/client/archive.py
Labels: client

#2268 removing all docker/container things (reopened)
  insights/client/archive.py
  insights/client/client.py
  insights/client/connection.py
  insights/client/constants.py
  insights/client/containers.py
  insights/client/dmsetupWrap.py
  insights/client/docker_wrap.py
  insights/client/mount.py
  insights/client/phase/v1.py
  insights/client/schedule.py
Labels: client

#2267 Delete run_client.py
  run_client.py
Labels: client

#2270 remove deprecated --to-stdout
  insights/client/config.py
  insights/client/phase/v1.py
Labels: client
