Repository RedHatInsights/insights-core, pull requests merged in 2019-06, with the labels that each got.

#1943 [WIP] Adding unregister support to the client for non-legacy cases
  insights/client/client.py
  insights/client/connection.py
  insights/client/phase/v1.py
  insights/tests/client/phase/test_post_update.py
  insights/tests/client/test_client.py
Labels: client

#1929 catch additional failure points when setting legacy displayname
  insights/client/connection.py
Labels: client

#1980 parser enhacement for modinfo
  insights/parsers/modinfo.py
  insights/parsers/tests/test_modinfo.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change, parser

#1990 Parser for ethtool timestamp
  insights/parsers/ethtool.py
  insights/parsers/tests/test_ethtool.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change, parser

#1932 Add spec and parser for neutron ml2 config
  insights/parsers/neutron_ml2_conf.py
  insights/parsers/tests/test_neutron_ml2_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#1968 Enhance the keep_scan and token_scan of LogFileOutput
  insights/core/__init__.py
  insights/tests/test_doc_examples.py
  insights/tests/test_logfileoutput.py
Labels: enhancement

#1993 Add new spec and parser for lsinitrd
  docs/shared_parsers_catalog/lsinitrd.rst
  insights/parsers/lsinitrd.py
  insights/parsers/tests/test_lsinitrd.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change, parser

#1998 Use "systemctl cat" to collect unit file content
  insights/parsers/systemd/config.py
  insights/parsers/tests/test_systemd_config.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1974 Add new parser SystemdRpcbindSocketConf
  insights/parsers/systemd/config.py
  insights/parsers/tests/test_systemd_config.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change, parser

#1995 Change optional to at_least_one for CloudProvider
  insights/combiners/cloud_provider.py
Labels: combiner

#1979 Add parser Grub2Grubenv and Grub2EFIGrubenv
  insights/combiners/grub_conf.py
  insights/combiners/tests/test_grub_conf.py
  insights/parsers/grub_conf.py
  insights/parsers/tests/test_grub_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change, combiner, parser

#1970 Remove after precmd
  insights/client/data_collector.py
  insights/tests/client/test_skip_commands_files.py
Labels: client

#1963 Remove is_hypervisor from InstalledRpms
  insights/parsers/installed_rpms.py
  insights/parsers/tests/test_installed_rpms.py
Labels: api change

#2010 Limit the SCL parser only for rhel-6/7
  insights/parsers/software_collections_list.py
Labels: parser

#2006 Add another possible file for heat api log spec
  insights/specs/default.py
Labels: SPEC Change

#1981 Enhance QemuXML to include Openstack metadata
  docs/shared_components_catalog/openstack.rst
  insights/components/openstack.py
  insights/components/tests/test_openstack.py
  insights/parsers/qemu_xml.py
  insights/parsers/tests/test_qemu_xml.py
Labels: enhancement

#2004 Update mlx4_port to fix regex in spec
  docs/shared_combiners_catalog/mlx4_port.rst
  insights/combiners/mlx4_port.py
  insights/combiners/tests/test_mlx4_port.py
  insights/parsers/mlx4_port.py
  insights/parsers/tests/test_mlx4_port.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change, bug

#2008 Update md5check to fix regex in spec
  docs/shared_combiners_catalog/md5check.rst
  insights/combiners/md5check.py
  insights/combiners/tests/test_md5check.py
  insights/parsers/md5check.py
  insights/parsers/tests/test_md5check.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change, bug

#2017 Update sysctl to fix regex in spec
  insights/parsers/sysctl.py
  insights/parsers/tests/test_sysctl.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: bug

#2014 Collect nested httpd config files
  insights/combiners/tests/test_httpd_conf_tree.py
  insights/specs/default.py
Labels: SPEC Change
