Repository RedHatInsights/insights-core, pull requests merged in 2019-01, with the labels that each got.

#1609 cache branch info for 10 mins. delete when client is finished
  insights/client/__init__.py
  insights/client/connection.py
  insights/client/phase/v1.py
  insights/tests/client/phase/test_collect_and_upload.py
Labels: client

#1624 updated the code for team_slave in ifconfig file
  insights/parsers/ifcfg.py
  insights/parsers/tests/test_ifcfg.py
Labels: enhancement

#1630 Enhanced parser ceilometer_log to parse file /var/log/ceilometer/compute.log
  insights/parsers/ceilometer_log.py
  insights/parsers/tests/test_ceilometer_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change

#1621 Get ulimit hard
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#1641 Fix redhat_release parser minor version parsing. Fixes #1590
  insights/parsers/redhat_release.py
  insights/parsers/tests/test_redhat_release.py
Labels: 3.x, bug

#1643 Catch exceptions for invalid archives and content types.
  insights/__init__.py
Labels: 3.x, bug

#1661 Add Ceph releases 2.5, 3.0, 3.1 & 3.2
  insights/parsers/ceph_version.py
Labels: enhancement

#1634 remove unused options and pertinent code
  insights/client/client.py
  insights/client/collection_rules.py
  insights/client/config.py
  insights/client/data_collector.py
  insights/tests/client/collection_rules/test_get_conf_stdin.py
  insights/tests/client/test_collect.py
Labels: client

#1629 break down the command to its smallest parts to check against blacklist
  insights/client/data_collector.py
  insights/tests/client/test_collect.py
Labels: client

#1653 Fix a generator exception with python3.7
  insights/core/spec_factory.py
Labels: 3.x, bug

#1625 Small tweaks to remove.conf
  insights/client/collection_rules.py
  insights/client/data_collector.py
  insights/tests/client/collection_rules/test_get_rm_conf.py
  insights/tests/client/test_skip_commands_files.py
Labels: client

#1651 fix some registration quirks related to the platform
  insights/client/__init__.py
  insights/client/client.py
  insights/client/phase/v1.py
  insights/client/support.py
  insights/tests/client/phase/test_post_update.py
  insights/tests/client/support/test_collect_support_info.py
  insights/tests/client/test_client.py
Labels: client

#1665 Delay setting permissions when untarring. Adjust how roots are found.
  insights/core/archives.py
  insights/core/hydration.py
Labels: 3.x, enhancement
