Repository RedHatInsights/insights-core, pull requests merged in 2019-09, with the labels that each got.

#2169 Fix: CephLog should collect multiple files
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change, bug

#2154 New parser to parse the output of 'gluster peer status'
  docs/shared_parsers_catalog/gluster_peer_status.rst
  insights/parsers/gluster_peer_status.py
  insights/parsers/tests/test_gluster_peer_status.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change

#2170 New parsers for "hostname" and "hostname -s"
  insights/combiners/hostname.py
  insights/combiners/tests/test_hostname.py
  insights/combiners/tests/test_sap.py
  insights/parsers/hostname.py
  insights/parsers/tests/test_hostname.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/specs/sos_archive.py
Labels: SPEC Change

#2186 Write pidfile to /var/run and use that pid to notify systemd watchdog
  insights/client/__init__.py
  insights/client/client.py
  insights/client/constants.py
  insights/client/data_collector.py
  insights/client/insights_spec.py
  insights/client/phase/v1.py
  insights/client/utilities.py
  insights/tests/client/init/test_write_pidfile.py
  insights/tests/client/test_client.py
  insights/tests/client/test_insights_spec.py
  insights/tests/client/test_utilities.py
Labels: client

#2188 Fixed problem with --logging-file switch
  insights/client/client.py
  insights/tests/client/test_client.py
Labels: client

#2203 Update parser for parsing hammer tasks
  insights/parsers/hammer_task_list.py
  insights/parsers/tests/test_hammer_task_list.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2223 Change AnyChar to mean any character instead of only ascii printables
  insights/combiners/tests/test_httpd_conf_tree.py
  insights/combiners/tests/test_logrotate_conf_tree.py
  insights/parsr/__init__.py
Labels: 3.x

#2216 add the sat id to the canonical facts doc
  insights/client/connection.py
  insights/tests/client/test_platform.py
Labels: client

#2103 [CephDfDetail] Using the 'json' option instead of 'json-pretty'
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: enhancement

#2199 New parser for /var/log/libvirt/qemu/*.log
  insights/parsers/libvirtd_log.py
  insights/parsers/tests/test_libvirtd_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: FILTER Change, SPEC Change, parser
