Repository RedHatInsights/insights-core, pull requests merged in 2019-11, with the labels that each got.

#2274 Enhance document for combiner of cpu_vulns_all
  insights/combiners/cpu_vulns_all.py
Labels: documentation

#2261 Made a fix for the remove.conf bug
  insights/client/collection_rules.py
Labels: client

#2289 Add tags.conf
  insights/client/__init__.py
  insights/client/config.py
  insights/client/data_collector.py
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#2272 remove unused file compressed_file.py
  insights/client/compressed_file.py
Labels: client

#2162 compliance switch should imply legacy=false
  insights/client/config.py
Labels: client

#2322 [GlusterVolStatus] Fix process name for longer host or brick name
  insights/parsers/gluster_vol.py
  insights/parsers/tests/test_gluster_vol.py
Labels: bug

#2328 Enhanced to get vxlan and openvswitch details
  insights/parsers/ip.py
  insights/parsers/tests/test_ip.py
Labels: enhancement

#2333 Parser ip link details
  insights/parsers/ip.py
  insights/parsers/tests/test_ip.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
