Repository RedHatInsights/insights-core, pull requests merged in 2019-07, with the labels that each got.

#2040 New parser and combiner for dmesg
  docs/shared_combiners_catalog/dmesg.rst
  docs/shared_parsers_catalog/dmesg_log.rst
  insights/combiners/dmesg.py
  insights/combiners/tests/test_dmesg.py
  insights/parsers/dmesg_log.py
  insights/parsers/tests/test_dmesg_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#2042 Parser for file setup-named-chroot.sh
  docs/shared_parsers_catalog/setup_named_chroot.rst
  insights/parsers/setup_named_chroot.py
  insights/parsers/tests/test_setup_named_chroot.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#2047 [Enhancement] DockerList: Return data as None
  insights/parsers/docker_list.py
  insights/parsers/tests/test_docker_list.py
Labels: enhancement

#2052 NmcliConnShow parser fails when there is warning in cmd output
  insights/parsers/nmcli.py
  insights/parsers/tests/test_nmcli.py
Labels: enhancement

#2055 Parser to parse file '/proc/mounts'
  insights/parsers/mount.py
  insights/parsers/tests/test_mount.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#2063 don't run the client without cgroups unless specified
  insights/client/config.py
  insights/client/phase/v1.py
  insights/client/utilities.py
  insights/tests/client/phase/test_pre_update_support.py
  insights/tests/client/test_utilities.py
Labels: client

#1855 log versions of all eggs on startup
  insights/client/phase/v1.py
  insights/client/utilities.py
Labels: client

#2068 [ceph_cmd_json_parsing] Fix commands in the docstring
  insights/parsers/ceph_cmd_json_parsing.py
Labels: documentation

#2043 Update GrubConf for RHEL 8
  insights/combiners/grub_conf.py
  insights/combiners/tests/test_grub_conf.py
  insights/parsers/grub_conf.py
  insights/parsers/tests/test_grub_conf.py
  insights/parsers/tests/test_grub_conf_kdump.py
  insights/parsers/tests/test_grub_conf_missing_boot_files.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: RHEL8, SPEC Change, combiner, documentation, parser

#2067 New spec to get output of "systemctl show nginx"
  insights/parsers/systemctl_show.py
  insights/parsers/tests/test_systemctl_show.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2070 Update mount
  insights/parsers/mount.py
  insights/parsers/tests/test_mount.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: documentation, enhancement

#2094 Parser cdc wdm
  docs/shared_parsers_catalog/sys_bus.rst
  insights/parsers/sys_bus.py
  insights/parsers/tests/test_sys_bus.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#2098 Protect top level CLI from tracebacks.
  insights/command_parser.py
  insights/core/dr.py
Labels: bug

#1989 [RFC] Add --compliance option to run oscap and upload the report
  insights/client/apps/__init__.py
  insights/client/apps/compliance/__init__.py
  insights/client/config.py
  insights/client/phase/v1.py
  insights/tests/client/apps/test_compliance.py
  insights/tests/client/phase/test_collect_and_upload.py
Labels: client

#2116 remove "group is unavailable" message on legacy
  insights/client/client.py
Labels: client

#2102 use platform-python on rhel 8
  insights/client/utilities.py
Labels: client

#2106 forbid certain options, and skip network functions with --support with offline mode
  insights/client/config.py
  insights/client/support.py
  insights/tests/client/support/test_collect_support_info.py
  insights/tests/client/test_config.py
Labels: client

#2079 New parser for Azure instance type
  docs/shared_parsers_catalog/azure_instance_type.rst
  insights/parsers/aws_instance_type.py
  insights/parsers/azure_instance_type.py
  insights/parsers/tests/test_aws_instance_type.py
  insights/parsers/tests/test_azure_instance_type.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2118 Stub linux_distribution in compliance test
  insights/tests/client/apps/test_compliance.py
Labels: client
