Repository RedHatInsights/insights-core, pull requests merged in 2020-11, with the labels that each got.

#2804 redact glob specs by symbolic name
  insights/client/data_collector.py
Labels: client

#2121 Add combiner for rsyslog_conf
  insights/combiners/rsyslog_confs.py
  insights/combiners/tests/test_rsyslog_confs.py
  insights/parsers/rsyslog_conf.py
  insights/parsers/tests/test_rsyslog_conf.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#2822 Changing to use 'df (?) -x autofs' for preference
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: bug

#2792 add --module option to run modules from cli
  insights/client/apps/playbook_verify/__init__.py
  insights/client/apps/playbook_verify/__main__.py
  insights/client/config.py
  insights/client/phase/v1.py
  insights/tests/client/phase/test_collect_and_upload.py
Labels: client

#2814 Ansible playbook verifier interface
  insights/client/apps/ansible/__init__.py
  insights/client/apps/ansible/playbook_verifier/__init__.py
  insights/client/apps/ansible/playbook_verifier/__main__.py
  insights/client/apps/ansible/test_playbook.yml
Labels: client

#2825 Add sap combiner and deps to manifest for core collection
  insights/collect.py
Labels: client

#2826 Add components to manifest for core collection
  insights/collect.py
Labels: client
