Repository RedHatInsights/insights-core, pull requests merged in 2020-08, with the labels that each got.

#2690 Correct glob for yum_repos_d (#2689)
  insights/specs/default.py
Labels: bug

#2693 Remove initscript spec due to performance issues
  insights/specs/default.py
Labels: bug

#2692 client: write lastupload during platform upload
  insights/client/client.py
Labels: client

#2675 Client invocation
  insights/client/__init__.py
  insights/client/connection.py
  insights/client/constants.py
  insights/client/phase/v1.py
  insights/client/utilities.py
  insights/tests/client/init/test_write_pidfile.py
Labels: client

#2694 [compliance] Only scan against internal, non-canonical profiles
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2706 update uploader.json map
  insights/uploader_json_map.json
Labels: client

#2719 Print deep-link to HBI record if one exists
  insights/client/__init__.py
  insights/client/phase/v1.py
Labels: client

#2701 Stage env autoconfig
  insights/client/auto_config.py
  insights/tests/client/auto_config/test_autoconfig_urls.py
  insights/tests/client/auto_config/test_branch_info_call.py
Labels: client

#2725 config: sort "actions" into an arg group
  insights/client/config.py
Labels: client

#2723 suppress help output for --check-results
  insights/client/config.py
Labels: client

#2724 connection: pull insights-client version directly
  insights/client/connection.py
Labels: client

#2683 write selected egg release channel to the archive
  insights/client/__init__.py
  insights/client/constants.py
  insights/client/core_collector.py
  insights/client/data_collector.py
  insights/tests/client/data_collector/test_write_metadata.py
  insights/tests/client/init/test_fetch.py
Labels: client

#2695 New parser AnsibleTowerLicenseType
  docs/shared_parsers_catalog/awx_manage.rst
  insights/parsers/awx_manage.py
  insights/parsers/tests/test_awx_manage.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
