Repository RedHatInsights/insights-core, pull requests merged in 2020-04, with the labels that each got.

#2513 Fix rpm version logging
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#2481 Split remove conf
  insights/client/client.py
  insights/client/collection_rules.py
  insights/client/config.py
  insights/client/data_collector.py
  insights/client/phase/v1.py
  insights/tests/client/collection_rules/test_get_rm_conf.py
  insights/tests/client/test_collect.py
  insights/tests/client/test_insights_spec.py
  insights/tests/client/test_skip_commands_files.py
  insights/tests/client/test_utilities.py
Labels: client

#2537 messaging fixes for blacklist
  insights/client/data_collector.py
Labels: client

#2532 do not error out when using --group on platform
  insights/client/config.py
Labels: client

#2521 direct to insights console after registration
  insights/client/client.py
Labels: client

#2543 Validate tags
  insights/client/collection_rules.py
  insights/client/config.py
  insights/client/constants.py
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#2556 Migrate tags.conf files to tags.yaml
  insights/client/__init__.py
  insights/client/utilities.py
  insights/tests/client/test_utilities.py
Labels: client

#2544 Remove -R from ls_etc and only list specified sub-dirs
  insights/parsers/ls_etc.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2562 Include analysis metadata in json and yaml responses.
  insights/__init__.py
  insights/core/evaluators.py
  insights/formats/__init__.py
  insights/formats/html.py
  insights/formats/template.py
  insights/tests/test_evaluators.py
  insights/util/__init__.py
Labels: enhancement

#2538 adding a scandir() based option for get_all_files
  insights/core/archives.py
  insights/core/hydration.py
  insights/tests/test_extractors.py
Labels: enhancement

#2568 Add RHEL-8.2 kernel entry
  insights/parsers/uname.py
Labels: RHEL8

#2569 Set net_debug true when test_connection is true
  insights/client/config.py
Labels: client
