Repository RedHatInsights/insights-core, pull requests merged in 2020-02, with the labels that each got.

#2415 Perform multiple OpenSCAP scans and upload results in one archive
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2439 consolidate temp file deletion into single func called at exit
  insights/client/__init__.py
  insights/client/apps/compliance/__init__.py
  insights/client/archive.py
  insights/client/client.py
  insights/client/data_collector.py
  insights/client/phase/v1.py
  insights/tests/client/phase/test_collect_and_upload.py
  insights/tests/client/test_client.py
  insights/tests/client/test_skip_commands_files.py
Labels: client

#2445 Aws feature tweaks
  insights/client/apps/aws/__init__.py
  insights/client/connection.py
  insights/tests/client/apps/test_aws.py
Labels: client

#2446 Fix profiles API endpoint to get profiles only for this host
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2465 bond parser enhacement
  insights/parsers/bond.py
  insights/parsers/tests/test_bond.py
Labels: enhancement

#2440 Force TZ=UTC on oscap xccdf eval
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2300 Create new YAML format for remove.conf
  NEW_REMOVE_CONF_POC.yaml
  insights/client/collection_rules.py
  insights/client/data_collector.py
  insights/client/insights_spec.py
  insights/client/phase/v1.py
  insights/client/utilities.py
  insights/tests/client/collection_rules/test_get_rm_conf.py
  insights/tests/client/test_collect.py
  insights/tests/client/test_insights_spec.py
  insights/tests/client/test_utilities.py
Labels: client

#2462 Handle no profiles assigned to a host
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2323 handle 413 status, raise error if received
  insights/client/client.py
  insights/client/connection.py
  insights/client/phase/v1.py
  insights/tests/client/test_client.py
Labels: client

#2461 Parser for Cmd: `/usr/sbin/zdump -v /etc/localtime`
  docs/shared_parsers_catalog/zdump_v.rst
  insights/parsers/tests/test_zdump_v.py
  insights/parsers/zdump_v.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
