Repository RedHatInsights/insights-core, pull requests merged in 2020-09, with the labels that each got.

#2738 url_cache: Delete the cache key rather than the entire cache
  insights/client/url_cache.py
Labels: client

#2751 Remove the semicolon from query statement
  insights/parsers/engine_db_query.py
  insights/parsers/tests/test_engine_db_query.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: bug

#2735 do not redact client metadata files
  insights/client/data_collector.py
  insights/contrib/soscleaner.py
  insights/tests/client/data_collector/test_done.py
  insights/tests/client/data_collector/test_redact.py
Labels: client

#2760 [RHICOMPL-737] Fail gracefully for missing profiles
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#2768 New parser OpenVmToolsStatRawTextSession
  docs/shared_parsers_catalog/open_vm_tools.rst
  insights/parsers/open_vm_tools.py
  insights/parsers/tests/test_open_vm_tools.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#2769 Spec and parser for mokutil command
  docs/shared_parsers_catalog/mokutil_sbstate.rst
  insights/parsers/mokutil_sbstate.py
  insights/parsers/tests/test_mokutil_sbstate.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
