Repository RedHatInsights/insights-core, pull requests merged in 2020-07, with the labels that each got.

#2639 Silence user warning when importing pkg_resources
  insights/client/connection.py
Labels: client

#2642 move redaction to function that takes place after collection
  insights/client/data_collector.py
  insights/client/insights_spec.py
  insights/tests/client/data_collector/test__process_content_redaction.py
  insights/tests/client/data_collector/test_redact.py
  insights/tests/client/test_insights_spec.py
  insights/tests/client/test_skip_commands_files.py
Labels: client

#2645 use regex because cloud.stage messes everything up
  insights/client/auto_config.py
Labels: client

#2634 Introduce egg router
  insights/client/__init__.py
  insights/client/constants.py
Labels: client

#2647 load filters if available
  insights/collect.py
Labels: client

#2654 load client denylist in core collector
  insights/collect.py
  insights/core/spec_factory.py
Labels: client

#2643 Add parser for command: engine-db-query --statement "QUERY" --json
  docs/shared_parsers_catalog/engine_db_query.rst
  insights/parsers/engine_db_query.py
  insights/parsers/tests/test_engine_db_query.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change, WIP

#2630 use SIGTERM for rpm and yum commands
  insights/client/insights_spec.py
Labels: client

#2635 include both classic and core collection
  insights/client/archive.py
  insights/client/client.py
  insights/client/config.py
  insights/client/constants.py
  insights/client/core_collector.py
  insights/client/data_collector.py
  insights/client/phase/v1.py
  insights/tests/client/data_collector/test_redact.py
  insights/tests/client/phase/test_LEGACY_post_update.py
  insights/tests/client/phase/test_post_update.py
  insights/tests/client/phase/test_update.py
  insights/tests/client/test_archive.py
  insights/tests/client/test_collect.py
  insights/tests/client/test_config.py
  insights/tests/client/test_skip_commands_files.py
  insights/util/canonical_facts.py
Labels: client

#2648 map files and commands to core components
  insights/client/collection_rules.py
  insights/client/map_components.py
  insights/tests/client/collection_rules/test_map_components.py
  insights/uploader_json_map.json
Labels: client

#2657 add --list-specs option to refer to component docs
  insights/client/__init__.py
  insights/client/config.py
  insights/client/phase/v1.py
  insights/tests/client/phase/test_LEGACY_post_update.py
  insights/tests/client/phase/test_post_update.py
Labels: client

#2679 Add parser to parse output of 'lsvmbus -vv'
  docs/shared_parsers_catalog/lsvmbus.rst
  insights/parsers/lsvmbus.py
  insights/parsers/tests/test_lsvmbus.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: FILTER Change, SPEC Change
