Repository RedHatInsights/insights-core, pull requests merged in 2021-11, with the labels that each got.

#3241 Fix: RHICOMPL-1980 Adding the 'relationships' API attribute to the client profiles API call
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#3284 Remove unused collect vars
  insights/client/__init__.py
  insights/client/client.py
  insights/tests/client/test_collect.py
Labels: client

#3236 Feat: Add Malware app as a manifest spec
  insights/client/apps/malware_detection/__init__.py
  insights/client/apps/manifests.py
  insights/client/config.py
  insights/client/connection.py
  insights/client/core_collector.py
  insights/client/phase/v1.py
  insights/specs/datasources/malware_detection.py
  insights/tests/client/apps/test_malware_detection.py
  insights/tests/client/phase/test_collect_and_upload.py
Labels: new feature

#3287 Added new section for client development
  docs/quickstart_insights_core.rst
Labels: documentation
