Repository RedHatInsights/insights-core, pull requests merged in 2021-06, with the labels that each got.

#3055 Update Verifier code to allow for signature validation
  insights/client/apps/ansible/playbook_verifier/__init__.py
  insights/client/apps/ansible/playbook_verifier/__main__.py
  insights/client/apps/ansible/playbook_verifier/public.gpg
  insights/tests/client/apps/test_playbook_verifier.py
Labels: client

#3007 feat: add ansible_host option
  insights/client/__init__.py
  insights/client/config.py
  insights/client/connection.py
  insights/client/core_collector.py
  insights/client/data_collector.py
  insights/client/phase/v1.py
  insights/tests/client/test_ansiblehost.py
Labels: client

#2801 New parser for GoogleInstanceType
  docs/shared_parsers_catalog/gcp_instance_type.rst
  insights/parsers/gcp_instance_type.py
  insights/parsers/tests/test_gcp_instance_type.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#3105 fix: disallow unregister in offline mode
  insights/client/config.py
  insights/tests/client/test_config.py
Labels: client

#3111 make copy of options when loading defaults into argparse
  insights/client/config.py
  insights/tests/client/test_config.py
Labels: client

#3101 Compliance: Improve tmp handling
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client

#3125 Fix test for cloud_init datasource
  insights/tests/datasources/test_cloud_init.py
Labels: bug

#3129 Add testing for ps datasource
  insights/specs/datasources/ps.py
  insights/tests/datasources/test_ps.py
Labels: bug
