Repository RedHatInsights/insights-core, pull requests merged in 2022-07, with the labels that each got.

#3465 fix: Enhance nmcli
  insights/parsers/nmcli.py
  insights/tests/parsers/test_nmcli.py
Labels: bug

#3466 feat: revert and refine the padman list specs and parsers
  insights/parsers/podman_list.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/tests/parsers/test_podman_list.py
Labels: SPEC Change

#3449 feat: Unregister option removes machine-id
  insights/client/client.py
  insights/tests/client/test_client.py
Labels: client
