Repository RedHatInsights/insights-core, pull requests merged in 2022-08, with the labels that each got.

#3493 Automatically retry malware-detection downloads & uploads
  insights/client/apps/malware_detection/__init__.py
  insights/client/config.py
  insights/tests/client/apps/test_malware_detection.py
Labels: client app

#3489 New location for temp directory
  insights/client/archive.py
  insights/client/constants.py
  insights/tests/client/test_archive.py
Labels: client

#3490 feat: New spec and parser for `authselect current`
  docs/shared_parsers_catalog/authselect.rst
  insights/parsers/authselect.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/tests/parsers/test_authselect.py
Labels: SPEC Change
