Repository RedHatInsights/insights-core, pull requests merged in 2022-01, with the labels that each got.

#3311 Playbook revocation list
  MANIFEST.in.client
  insights/client/apps/ansible/playbook_verifier/__init__.py
  insights/revoked_playbooks.yaml
  insights/tests/client/apps/test_playbook_verifier.py
Labels: client

#3312 Separate scan_only and scan_exclude options for filesystem and processes
  insights/client/apps/malware_detection/__init__.py
  insights/tests/client/apps/test_malware_detection.py
Labels: client app

#3324 Enhance spec ls_l
  insights/parsers/config_file_perms.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change

#3321 feat: New spec to get all services which enabled CPUAccounting
  insights/parsers/systemctl_show.py
  insights/parsers/tests/test_systemctl_show.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
Labels: SPEC Change
