Repository RedHatInsights/insights-core, pull requests merged in 2022-05, with the labels that each got.

#3402 Feat: Add spec and parser for 'nginx_log'
  docs/shared_parsers_catalog/nginx_log.rst
  insights/parsers/nginx_log.py
  insights/parsers/tests/test_nginx_log.py
  insights/specs/__init__.py
  insights/specs/default.py
Labels: SPEC Change

#3349 feat: RHICOMPL-2450 implemented OpenSCAP result obfuscation
  MANIFEST.in.client
  insights/client/apps/compliance/__init__.py
  insights/client/archive.py
  insights/compliance_obfuscations.yaml
  insights/tests/client/apps/test_compliance.py
  insights/tests/client/test_archive.py
Labels: client

#3413 Add os major version 9 for Compliance
  insights/client/apps/compliance/__init__.py
Labels: client app

#3415 fix: Handle the value in kernel-alt pkg
  insights/parsers/uname.py
  insights/tests/parsers/test_uname.py
Labels: bug

#3420 fix(Compliance): Find policy correctly when there is one datasteam file
  insights/client/apps/compliance/__init__.py
  insights/tests/client/apps/test_compliance.py
Labels: client app
