Repository RedHatInsights/insights-core, pull requests merged in 2022-10, with the labels that each got.

#3519 Fix registration tests [ESSNTL-3070]
  insights/tests/client/test_client.py
Labels: client

#3541 Deprecate insights.core.scannable & engine_log parser
  insights/core/__init__.py
  insights/parsers/engine_log.py
Labels: deprecation

#3542 [New-parser] parser_mpirun_version
  docs/shared_parsers_catalog/mpirun.rst
  insights/parsers/mpirun.py
  insights/specs/__init__.py
  insights/specs/default.py
  insights/specs/insights_archive.py
  insights/tests/parsers/test_mpirun.py
Labels: SPEC Change

#3558 Handle upload exceptions allowing --retries to work properly
  insights/client/apps/malware_detection/__init__.py
  insights/client/client.py
  insights/client/config.py
  insights/client/connection.py
  insights/tests/client/apps/test_malware_detection.py
  insights/tests/client/test_client.py
Labels: client

#3543 Avoid test to write in disk if machine-id is not found
  insights/tests/client/apps/test_malware_detection.py
Labels: client
