Repository RedHatInsights/insights-core, pull requests merged in 2024-10, with the labels that each got.

#4258 chore: refine the format of default_manifest in collect.py
  insights/collect.py
  insights/specs/datasources/pcp.py
  insights/tests/datasources/test_pcp.py
Labels: collection

#4257 test: test_httpd_conf_files_main_miss failed when httpd.conf exists
  insights/tests/datasources/test_httpd.py
Labels: parser

#4249 fix: do not obfuscate in runtime but in archive only
  insights/core/spec_factory.py
  insights/tests/test_specs_content_redaction_empty.py
  insights/tests/test_specs_runtime_ds_obfuscation.py
Labels: core, collection

#4248 Catch Timeout on test urls
  insights/client/connection.py
  insights/tests/client/connection/test_test_connection.py
Labels: client

#4246 Remove double exception print
  insights/client/connection.py
  insights/tests/client/connection/test_test_connection.py
Labels: client

#4211 Catch Timeout on test connection
  insights/client/connection.py
  insights/tests/client/connection/test_test_connection.py
Labels: client

#4261 parsers: add parser for image builder facts (RHINENG-13943)
  docs/shared_parsers_catalog/image_builder_facts.rst
  insights/parsers/image_builder_facts.py
  insights/tests/parsers/test_image_builder_facts.py
Labels: parser
