Repository RedHatInsights/insights-core, pull requests merged in 2024-11, with the labels that each got.

#4254 Simplify re-raise for non-legacy
  insights/client/connection.py
Labels: client

#4263 Make test_urls test names consistent
  insights/tests/client/connection/test_test_connection.py
Labels: client

#4264 Fix: Enhance datasource httpd include upcase
  insights/specs/datasources/httpd.py
  insights/tests/datasources/test_httpd.py
Labels: SPEC

#4255 FEAT: new custom filter 'fstab_mounted.dirs' to ls_lan spec
  insights/collect.py
  insights/specs/datasources/ls.py
  insights/tests/datasources/test_ls.py
Labels: SPEC, parser

#4229 feat(client): write .last-upload.results also after non-legacy uploads
  insights/client/client.py
Labels: client

#3604 Speed up `keyword_search` by storing pre-processed data
  insights/combiners/lspci.py
  insights/combiners/ps.py
  insights/parsers/__init__.py
  insights/parsers/findmnt.py
  insights/parsers/ip_netns_exec_namespace_lsof.py
  insights/parsers/ldif_config.py
  insights/parsers/lsblk.py
  insights/parsers/lsinitrd.py
  insights/parsers/mount.py
  insights/parsers/netstat.py
  insights/parsers/pam.py
  insights/parsers/ps.py
  insights/parsers/qpid_stat.py
  insights/parsers/sctp.py
  insights/parsers/subscription_manager_list.py
  insights/parsers/virsh_list_all.py
  insights/tests/combiners/test_lspci.py
  insights/tests/parsers/test_mount.py
  insights/tests/parsers/test_parsers_module.py
Labels: enhancement, parser

#4209 feat(compliance): RHINENG-8964 allow listing/assigning policies
  insights/client/config.py
  insights/specs/__init__.py
  insights/specs/datasources/compliance/__init__.py
  insights/specs/datasources/compliance/compliance_ds.py
  insights/specs/datasources/manifests.py
  insights/specs/default.py
  insights/tests/client/phase/test_collect_and_upload.py
  insights/tests/datasources/compliance/test_compliance.py
  insights/tests/datasources/compliance/test_compliance_ds.py
Labels: app, collection
