Repository RedHatInsights/insights-core, pull requests merged in 2025-02, with the labels that each got.

#4342 fix(client): Support playbooks with unicode for Python 3.12+
  insights/client/apps/ansible/playbook_verifier/serializer.py
  insights/tests/client/apps/playbooks/unicode.digest.bin
  insights/tests/client/apps/playbooks/unicode.serialized.bin
  insights/tests/client/apps/playbooks/unicode.yml
  insights/tests/client/apps/test_playbook_verifier.py
Labels: client

#4344 fix(client): Status code should indicate registration status
  insights/client/phase/v1.py
  insights/tests/client/phase/test_post_update.py
Labels: client

#4330 fix: remove the MustGatherContext and InsightsOperatorContext
  docs/api.rst
  docs/index.rst
  docs/ocp.rst
  insights/core/context.py
  insights/ocp.py
  insights/ocpshell.py
Labels: QE

#4324 refactor: split spec_cleaner to multiple sub-modules
  docs/api_index.rst
  insights/cleaner/__init__.py
  insights/cleaner/filters.py
  insights/cleaner/hostname.py
  insights/cleaner/ip.py
  insights/cleaner/keyword.py
  insights/cleaner/mac.py
  insights/cleaner/password.py
  insights/cleaner/pattern.py
  insights/cleaner/utilities.py
  insights/client/connection.py
  insights/collect.py
  insights/core/spec_cleaner.py
  insights/core/spec_factory.py
  insights/specs/__init__.py
  insights/tests/cleaner/__init__.py
  insights/tests/cleaner/test_clean_content_filters.py
  insights/tests/cleaner/test_clean_content_hostname.py
  insights/tests/cleaner/test_clean_content_ip.py
  insights/tests/cleaner/test_clean_content_keyword.py
  insights/tests/cleaner/test_clean_content_mult.py
  insights/tests/cleaner/test_clean_content_password.py
  insights/tests/cleaner/test_clean_content_pattern.py
  insights/tests/cleaner/test_clean_file.py
  insights/tests/cleaner/test_clean_file_keyword.py
  insights/tests/cleaner/test_clean_file_password.py
  insights/tests/cleaner/test_clean_file_pattern.py
  insights/tests/cleaner/test_reports.py
  insights/tests/core/spec_cleaner/test_clean_content.py
  insights/tests/core/spec_cleaner/test_clean_file_obfuscate.py
  insights/tests/core/spec_cleaner/test_clean_file_redact.py
  insights/tests/core/spec_cleaner/test_get_obfuscate_functions.py
  insights/tests/specs/test_specs.py
  insights/tests/specs/test_specs_content_redaction_empty.py
  insights/tests/specs/test_specs_filters.py
  insights/tests/specs/test_specs_runtime_ds_obfuscation.py
  insights/tests/specs/test_specs_save_as.py
  insights/tests/specs/test_specs_special_content.py
Labels: QE, WIP

#4348 fix(client): Update logging messages
  insights/client/connection.py
  insights/client/phase/v1.py
  insights/tests/client/phase/test_pre_update_checkin.py
  insights/tests/client/phase/test_pre_update_support.py
Labels: client

#4250 do not collect metadata stuff on client side
  insights/client/core_collector.py
  insights/specs/datasources/client_metadata.py
  insights/tests/client/core_collector/test_run_collection.py
  insights/tests/client/core_collector/test_write_metadata.py
Labels: client, collection
