Repository RedHatInsights/insights-core, pull requests merged in 2025-08, with the labels that each got.

#4496 fix: use tempfile.gettempdir as default tmpdir for obfuscation reports
  insights/cleaner/__init__.py
  insights/tests/cleaner/test_reports.py
Labels: data collection

#4503 feat: ComplianceClient support general data collection
  insights/specs/datasources/compliance/__init__.py
  insights/tests/datasources/compliance/test_compliance.py
Labels: data collection

#4501 chore(rpmcmp): use rpm.labelCompare first
  .github/workflows/main.yml
  insights/parsers/installed_rpms.py
  insights/tests/parsers/test_installed_rpms.py
  insights/util/rpm_vercmp.py
  pyproject.toml
  setup.py
Labels: data collection, data processing

#4453 chore: do not collect ls_dev in core collection
  insights/specs/default.py
Labels: data collection

#4514 fix: handle error from relied spec for container_nginx_conf
  insights/specs/datasources/container/nginx_conf.py
  insights/tests/datasources/container/test_nginx_conf.py
Labels: data collection

#4520 feat(client): Exclude vendor libs from coverage stats
  .coveragerc
Labels: client

#4517 feat: suppress link message after upload
  insights/client/__init__.py
  insights/client/client.py
  insights/client/phase/v1.py
Labels: client

#4526 chore(spec): remove unused *_config_perms from collection
  insights/specs/default.py
Labels: data collection

#4528 fix: reduce the size of CalledProcessError exception
  insights/tests/test_subproc.py
  insights/util/subproc.py
Labels: data collection

#4498 feat: Add parser and spec for compliance_policies_enabled
  docs/shared_parsers_catalog/compliance_enabled_policies.rst
  insights/parsers/compliance_enabled_policies.py
  insights/specs/__init__.py
  insights/specs/datasources/compliance/compliance_ds.py
  insights/specs/default.py
  insights/tests/datasources/compliance/test_compliance_ds.py
  insights/tests/parsers/test_compliance_enabled_policies.py
Labels: QE, data collection, data processing

#4513 fix: container spec exec with env and cmd precheck
  insights/core/spec_factory.py
  insights/specs/datasources/container/__init__.py
  insights/tests/datasources/container/test_nginx_conf.py
Labels: data collection

#4512 chore: Introduce Client phase v2
  insights/client/phase/v2.py
Labels: client

#4527 chore: print warning when 'subscription_manager_id' is skipped for redaction
  insights/client/collection_rules.py
  insights/tests/client/collection_rules/test_get_rm_conf.py
Labels: client, data collection
